# ******* CAUTION *******
# if DEBUG_MODE=false, It will delete room, activated warning mail sending and pin send by mail will activate
DEBUG_MODE='true' 
PORT=4000

# Auth and Microsoft settings
JWT_SECRET=
CENTERLIZED_MAIL="meetingroom@tcc-technology.com"
JWT_REFRESH_EXPIRES_IN='100d'
JWT_EXPIRES_IN='100d'
FRONTEND_ADMIN='http://localhost:5170/' # admin panel client
FRONTEND_USERS='http://localhost:5173/' # user display client 
REDIRECT_URI="http://localhost:5170/admin/admin/api" # MS auth redirect url for admin panel 
CLIENT_ID=
TENANT_ID=
CLIENT_SECRET=
SCOPE1=
SCOPE2=
SCOPE3=
SCOPE4=
SCOPE5=
SESSION_SECRET=

# MongoDB settings
DB_URI=

# Crpyto encrypt(for encode token)
ENCRYPTION_KEY=

# Bcrypt salt rounds for hashing password
BCRYPT_SALT_ROUNDS=

#Mqtt broker (optional in development)
OPEN_MQTT='false' # if OPEN_MQTT='true', it will connect to mqtt broker, in development if not interested in mqtt, set it to false
MQTT_TOPIC_CMD=
MQTT_BROKER_URL=

#room except จอยังมีไม่ครบ ต้องยกเลิกส่งเมลให้คนจองห้องนั้น รวมถึงการลบห้องนั้นด้วย
EXECPT_ROOMS=1503,1504,1519,1520

# now, we not use this api key. but keep it here for future use
API_TIME_KEY=

